.box-pac {
  margin-top: 150px;
  color: red;
}

/*----------------------------------HOME PAGE HINT---- STYLING-------------------------------------------*/

.activity-text {
  font-size: 15px;
  color: red;
}


.notice__text__container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 7px;
  width: 87vw;
  border-radius: 6px;
  background-color: black;
}

.notice-text2-cont3 {
  background-color: rgba(244, 233, 233, 0.126);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.notice__text23 {
  margin-top: 10px;
  font-weight: 600;
  color: grey;
  font-style: italic;
}


/*----------------------------------PRIVACY POLICY---- STYLING-------------------------------------------*/


.sub-heading {
  margin-top: 40px;
}

.sec-sub {
  margin-top: 10px;
  color: rgb(206, 228, 228);
  font-weight: none;
  font-size: 12px;
}

.sec-sub2 {
  margin-top: 25px;
  color: rgb(206, 228, 228);
  font-weight: none;
  font-size: 12px
}

.privacy-container {
  margin-top: 100px;
}

.termsofuse1 {
  text-decoration: underline;
}


.updates {
  margin-top: 8px;
  font-size: 10px;
  color: beige;
}

.update-btn {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  background-color: rgb(151, 13, 13);
  color: aliceblue;
  font-weight: 500;
}